.InputNumber_container {
    position: relative;
    width: 150px;
}

.InputNumber_container:hover .InputNumber_buttons {
    display: flex;
}

.InputNumber_container:hover .InputNumber_input input {
    border: 1px solid #929292;
    background: #3d3d3d;
}


.InputNumber_buttons {
    display: none;

    position: absolute;
    left: -20px;
    bottom: 1.5em;
    background: #242424;
    padding: 4px 2px;
}

.InputNumber_buttons button {
    background: #3d3d3d;
    border: 1px solid #929292;
    color: #929292;
    text-align: center;
    margin: 0 2px;
    border-radius: 2px;
    min-height: 2em;
    height: 2em;
    width: 3em;
    font-size: 12px;
}

.InputNumber_buttons button:hover {
    cursor: pointer;
    background: #929292;
    border: 1px solid #929292;
    color: #3d3d3d;
}

.InputNumber_input {

}

.InputNumber_input input {
    max-width: 60px;
    padding: 3px 6px;
    margin: 0;
    height: 1em;
    background: #242424;
    border: 1px solid #242424;
    color: #929292;
}
